.navbar-brand{
    font-size: 25px;
    margin-left: 20px;
}
.navbar{
    padding: 0;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}
.nav-link{
    padding: 15px !important;
    transition: 0.2s all ease-in-out;
    font-size: 1.1rem;
}
.nav-link.active{
    background-color: #12a844;
    text-shadow: black 1px 1px 3px;
}
.nav-link:hover{
    background-color: #12a84488;
}
.nav-link.active:hover{
    background-color: #12a844;
    text-shadow: black 1px 1px 3px;
}
.custom-slide{
    filter: brightness(0.5);
}
.container-fluid{
    background-color: #ddd;
    padding: 20px !important;
}
.container{
    padding: 20px;
    border-radius: 5px;
    background-color: white;
}
.me{
    border-radius: 50%;
    width: 250px;
    margin: 0 auto;
}
#about{
    margin-bottom: 60px;
    padding: 60px 0;
    text-align: center;
}
footer{
    background-color: #222;
    padding: 30px;
    color: #d1d1d1;
}
footer  ul{
    list-style-type: none;
    padding-left: 0;
}
.copy{
    font-weight: bold;
    margin: 30px auto 0 30px;
}


/* Animation */
/* .animate-in{
    transform: translateX(0px);
    opacity: 1;
    transition: 0.5s ease-in-out all;
}
.animate-out{
    transform: translateX(100px);
    opacity: 0;
    transition: 0.5s ease-in-out all;
} */
.card{
    transition: 0.5s ease-in-out all;
}
main.ng-enter{
    transform-origin: top;
    animation: slide 1s ease-in-out 0s 1;
}

/* main.ng-enter.ng-enter-active{
    transform: translateX(0);
    opacity: 1;
} */

.main-jumb{
    background-image: url('/img/unsplash.jpg');
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}
.sub-jumb{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}
#content{
    position: relative;
    top: calc(50vh - 100px);
    animation: load 1s ease-in-out 0s 1;
}
.loader{
    height: 50vw;
    width: 50vw;
    border-radius: 50%;
    background-color: green;
    animation: loading 1s ease-in-out 0s infinite;
}

@keyframes slide{
    0%{
        opacity: 0;
        transform: rotateX(-90deg);
    }
    70%{
        opacity: 1;
        transform: rotateX(30deg);
    }
    100%{
        transform: rotateX(0);
    }
}


@media (max-width: 770px){
    .container{
        margin: 10px 0 !important;
        max-width: 700px !important;
    }
}


@keyframes load{
    0%{
        opacity: 0;
        transform: translateX(500px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes loading{
    0%{
        transform: scale(0.1);
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}



