<div class="card-columns">
    <div class="card border-dark mb-3">
        <img src="img/html5-css3.png" alt="Web Design" class="card-img-top">
        <hr>
        <div class="card-body">
            <h4 class="card-title">HTML5 & CSS3</h4>
            <p class="card-text">We use the latest HTML5 elements and attributes and CSS3 properties to make your website look as awesome as you are and let it shake its booty.</p>
        </div>
    </div>
    <div class="card border-danger mb-3">
        <img src="img/angular.png" alt="Angular.js" class="card-img-top">
        <hr>
        <div class="card-body">
            <h5 class="card-title">Angular</h5>
            <p class="card-text">We use Angular for making single page applications that are super fast and interactive with the users.</p>
        </div>
    </div>
    <div class="card border-primary mb-3">
        <img src="img/bootstrap.png" alt="Bootstrap" class="card-img-top">
        <hr>
        <div class="card-body">
            <h5 class="card-title">Bootstrap</h5>
            <p class="card-text">Bootstrap is an awesome css framework that we use to take the beauty of your page to the next level and make your website look awsome on any device.</p>
        </div>
    </div>
    <div class="card border-info mb-3">
        <img src="img/django-logo-positive.png" alt="Django" class="card-img-top">
        <hr>
        <div class="card-body">
            <h5 class="card-title">Python django</h5>
            <p class="card-text">Django is a frame work made for python to make dynamic web apps...  now you car make your e-commerce website with us or you can even make your own social network for your university campus, or maybe make a blog where friends can like your posts and make comments...  take your imagination to the next level.</p>
        </div>
    </div>
    <div class="card border-warning mb-3">
        <img src="img\laravel-framework-logo.png" alt="Laravel" class="card-img-top">
        <hr>
        <div class="card-body">
            <h5 class="card-title">PHP Laravel</h5>
            <p class="card-text">Laravel is an MVC based framework for PHP web applications. Now you can make super quick dynamic applications without having to worry about speed nor security.</p>
        </div>
    </div>
</div>